
  
 
  
 
  #chatbox{
    position: absolute;
    width: 100px;
    display: flex;
    background-color: brown;
    border-radius: 100%;
    z-index: 0;
    bottom: 5%;
    right:5%;
    z-index: 20;
  }

  #messagebox{ 
    padding: 20px;
  }

  #messagebox:hover {
    padding:30px;
  }

  #fixeddiv{
    position: fixed;
    background-color: sandybrown;
    display: flex;
    border-radius: 100%;
    width:100px;
    bottom:5%;
    right:5%;
    height:100px;
    z-index: 21;
  }
   
  #stickybar {
    position: sticky;
    top: 0px;
    grid-column: span 4/ span 4;
    width: 100%;
    height: 200px;
    background-color: pink;
  }

  @keyframes slideInFromup {
    0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
  }